
    <nz-table
      #fixedTable
      [nzData]="listOfData()"
      nzTableLayout="fixed"
      [nzLoading]="loading()"
      [nzFrontPagination]="false"
      [nzTotal]="total()"
      [nzPageIndex]="pageIndex()"
      [nzPageSize]="pageSize()"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="[5, 10, 20]"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th class="col-avatar" [attr.aria-label]="('basicTable.headers.avatar' | transloco)"></th>
          <th nzColumnKey="name" nzShowSort [nzSortOrder]="$any(sortKey()==='name' ? sortOrder() : null)" (nzSortOrderChange)="onSortChange('name', $any($event))" transloco="basicTable.headers.fullName"></th>
          <th class="col-age" nzColumnKey="age" nzShowSort [nzSortOrder]="$any(sortKey()==='age' ? sortOrder() : null)" (nzSortOrderChange)="onSortChange('age', $any($event))" transloco="basicTable.headers.age"></th>
          <th class="col-gender" transloco="basicTable.headers.gender"></th>
          <th transloco="basicTable.headers.email"></th>
          <th transloco="basicTable.headers.phone"></th>
          <th transloco="basicTable.headers.city"></th>
          <th transloco="basicTable.headers.country"></th>
          <th transloco="basicTable.headers.company"></th>
        </tr>
      </thead>
      <tbody>
        @for (data of fixedTable.data; track data.id) {
          <tr>
            <td class="col-avatar">
              <img [src]="data.image" width="32" height="32" [attr.alt]="data.name" class="avatar" />
            </td>
            <td nzEllipsis>{{ data.name }}</td>
            <td class="col-age">{{ data.age }}</td>
            <td class="col-gender" nzEllipsis>{{ ('basicTable.values.gender.' + data.gender) | transloco }}</td>
            <td nzEllipsis>{{ data.email }}</td>
            <td nzEllipsis>{{ data.phone }}</td>
            <td nzEllipsis>{{ data.city }}</td>
            <td nzEllipsis>{{ data.country }}</td>
            <td nzEllipsis>{{ data.company }}</td>
          </tr>
        }
      </tbody>
    </nz-table>
